.affichageSelectedArticle
{
    border: 2px solid whitesmoke;
    box-shadow: 2px;
    background-color: black;
    text-align: center;
    display: flex;
}
.divtexte
{
    flex: 1;
}
.divimage
{
    flex: 2;
}
.texte
{
    color: aliceblue;
}
.articleSelectedId
{
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
img
{
    border-radius: 8px;
    width: 200px;
    padding: 20px;
}
#ajouterAuPanier
{
    width: 50px;
    border-radius: 50px;
}