<div class="affichageSelectedArticle" *ngIf="articleDetail">

  <div class="divtexte">
      <p class="texte articleSelectedId">
          {{articleDetail.id}}
       </p>
    
       <p class="texte articleSelectedDesignation">
          Désignation : {{articleDetail.designation}}
       </p>
    
       <p class="texte articleSelectedCategorie">
          Catégorie : {{articleDetail.categorie.nom}}
       </p>

       <div class="divimage">

            <img src="{{this.articleDetail.image}}" alt="articleSelectedImage">
      
        </div>

       <p class="texte articleSelectedPrix">
          Prix : {{articleDetail.prix}}€
       </p>
    
       <p class="texte articleSelectedContent">
          Description détaillée : {{articleDetail.content}}
       </p>
    
      <p class="texte articleSelectedConstructeur">
         Constructeur : {{articleDetail.constructeur.nom}}
      </p>
    
      <p class="texte articleSelectedDateMiseEnLigne">
         Date de mise en ligne : {{articleDetail.dateMiseEnligne}}
      </p>
    
      <p class="texte articleSelectedStock">
         En stock : {{articleDetail.stock}}
      </p>
    
     <a href=""><img id=ajouterAuPanier src="assets/img/ajouterAuPanier.png" alt="ajouterAuPanier" (click)="ajouterArticleDansPanier()"></a> 

  

 