<div class="affichageArticle" *ngFor="let article of listeArticles" (click)="onSelect(article)">

   <div class="articleId">
      {{ article.id }}
   </div>

   <div class="img">
   <img src="{{article.image}}" alt="articleImage">
   </div>
<div class="caracteristique">
   <div class="texte articleDesignation">
      ⇨ Désignation : {{article.designation}}
   </div>

   <div class="texte articleCategorie">
      ⇨ Catégorie : {{article.categorie.nom}}
   </div>

   

   <div class="texte articlePrix">
      ⇨ Prix : {{article.prix}}€
   </div>

   <!-- <p class="texte articleContent">
      Content : {{article.content}}
   </p> -->

  <div class="texte articleConstructeur">
      ⇨ Constructeur : {{article.constructeur.nom}}
  </div>

  <div class="texte articleDateMiseEnLigne">
      ⇨ Date de mise en ligne : {{article.dateMiseEnligne | date: 'dd-MM-yyyy'}}
  </div>

  <div class="texte articleStock">
      ⇨ En stock : {{article.stock}}
  </div>
</div>
</div>


<!-- 
<router-outlet></router-outlet> -->

