.affichageArticle
{
    border: 10px solid black;
    box-shadow: 2px;
    background-color: black;
    text-align: center;
    width: 100%;
    display: flex;
    height:20%;
    margin: 0 auto;
    margin-bottom: 20px;
    align-self: center;
    float: left;
    margin-left: 10px;

}

.affichageArticle:hover
{
    background-color: grey;
    color: bisque;
}



.articleId
{
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    width: 5%;
    height: 30px;
    border-radius: 30px;
    text-align: center;


    justify-content: center;
    align-items: center;
}

.img{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
}
img
{
    border-radius: 8px;
    width: 250px;
    
}

.caracteristique{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.texte
{
    color: aliceblue; 
    width: 100%;
    margin-top: 5px;
    text-align: left;
}