<p>
  Panier N°{{ panier.id }}
</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let article of panier.articles">
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.designation}}</td>
        <td>{{article.prix}}€</td>
        <td><a href=""><img src="assets/img/supprimer.png" alt="supprimer" title="Supprimer l'article" (click)="supprimer(article)"></a></td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <th>Total</th>
      <th>{{nombreArticlesPanier}}</th>
      <th>{{prixPanier | number: '3.1-2'}}€</th>
      <th></th>
    </tr>
  </tfoot>
  </table>

  <a href=""><img class="panier" src="assets/img/panier.png" alt="El Panier" title="Valider le panier" (click)="clearPanierEtMajDesStock()"></a>



