

html, body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

.parent{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0% auto;
    width: 100%;

}
.enfant.trentesixquinze{
    justify-content: space-around;
    display: flex;
    align-content: center;
    width: 30%;
    margin: 0% auto;
    position: relative;
    
}

.enfant.Minitel{
    justify-content: space-around;
    display: flex;
    text-align: center;
    width: 70%;
    margin: 0% auto;
    position: relative;


}

.sousParent{
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    
}

.sousEnfant.Minitel{
    font-size:10px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 68%;
    
}

.sousEnfant.Menu{

    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 32%;
}

.sousSousEnfant{
    justify-content: space-around;
    font-size:40px;
    display: flex;
    text-align: center;
    width: 33%;
    margin: 0% auto;
    float: left;
    position: relative;
    flex-direction: column;
    color:white;
    height: 100%;

}

.categorie{
    transition: 0.3s;
}

.categorie:hover{
    background-color: white;
    color:red;

}

.panier{
    transition: 0.3s;
}

.panier:hover{
    background-color: white;
    color: cyan;
}

.sousSousSousEnfant{
    text-align: center;
    align-self: center;
    width: 100%;
    margin: 0% auto;
    position: relative;

}


.connexion{
    transition: 0.3s;
    
}

.connexion:hover{
    background-color: white;
    color:blue;
}

.inscription{
    transition: 0.3s;
}

.inscription:hover{
    background-color: white;
    color:magenta;
}

.numinitel{
    font-size:18px;
}

#site-content {
    justify-content: space-around;
    min-height: 100%;
    height: 100%;
    min-height: 100vh;
    width: 100%;
	position: relative;
    z-index: 1;
    background-color: silver;
	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
  
}

.afficherArticle{
    display: flex;
    align-content: center;
    width: 49%;
    height: 100%;
    margin: 0% auto;
    position: relative;
    float: left;
    flex-direction: column;
}

.headerArticle{
    font-size:30px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 5%;
    
}

.corpsArticle{
    font-size:30px;
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 95%;
    overflow-y: auto;
}

.liner{
    display: flex;
    align-content: center;
    width: 2%;
    height: 100%;
    margin: 0% auto;
    position: relative;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 10.0);
    float: left;
}

.linerUp{
    justify-content: space-around;
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 5%;
}

.linerDown{
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 95%;
  
}


.afficherInfo{
    display: flex;
    align-content: center;
    width: 49%;
    height: 100%;
    margin: 0% auto;
    position: relative;
    flex-direction: column;
}

.headerInfo{
    font-size:30px;
    justify-content: space-around;
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 5%;
}

.corpsInfo{
    font-size:30px;
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    height: 95%;
    overflow-y: auto;
}

#site-footer {
	padding: 25px 0;
	font-size: 85%;
    background-color:black;
    color: white;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
    bottom: 0;
    width:100%; 
    text-align: center;
    font-size:30px;
    
}

.icon {
 float: left;
 width:25%;
 font-size:30px;
 text-align: center;
}
.icon img{
    border-radius: 100%;
    width:100px; 
    height:100px;
    text-align: center;

}

pre {
    background-color:black;
    color:white;

    display:inline-block;
  }

  .btn {
    background-color:white;
    color:black;
  }
  .blue {
    color:blue;
  }
  .yellow {
    color:yellow;
  }
  .green {
    color:lime;
  }
  .cyan {
    color:cyan;
  }
  .red {
    color:red;
  }
  
  .btndubas
  {
    text-align: center;
    display: flex;
    padding: 0px;
    justify-content: space-between;
  }
  .aGaucheDulien
  {
    background-color: white;
    text-align: center;
  }
  .lien
  {
    background-color: white;
    text-align: right;

  }
  a
  {
    text-decoration: none;
    color: coral;
  }


@media only screen and (min-width: 801px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width: 800px) {

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .patent {
        flex-direction: column;
    }

    .child {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {

    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}