<div class="parent">

    <div class="enfant trentesixquinze">
        <pre>
<span>  
gratuit 3mn puis 0.74F/min </span>
            
<span class='numinitel'><span class='blue'>   
-</span>MINITEL  INFOS  

▀▀█ █▀▀ █ █▀▀ <span class='blue'>(c) 2019</span>
▀▀█ █▀█ █ ▀▀█ 
▀▀▀ ▀▀▀ ▀ ▀▀▀ </span>               
――――――――――――――――――――――――――――――――――――――――
Comment remplir <span class='btn'> Guide </span>
Infos éditeur, autre recherches <span class='btn'> Somm. </span>
――――――――――――――――――――――――――――――――――――――――
<div class='btn btndubas'>
<div class="aGaucheDuLien">Pour validez votre recherche, tapez: <a class="lien" href="">Envoi</a></div>
</div>
            </pre>
    </div>

    <div class="enfant Minitel">


        <div class="sousParent">
            <div class="sousEnfant Minitel">
                <pre>
                    <H1>
█▄ ▄█ █ █▄ █ █ ▀█▀ █▀▀ █   
█ ▀ █ █ █ ▀█ █  █  █▀  █   
▀   ▀ ▀ ▀  ▀ ▀  ▀  ▀▀▀ ▀▀▀ 
                    </H1>
                    </pre>
            </div>
            <div class="sousEnfant Menu">

                <div class="sousSousEnfant categorie cyan">CATEGORIE</div>
                <div class="sousSousEnfant">
                    <div class="sousSousSousEnfant inscription green">INSCRIPTION</div>
                    <div class="sousSousSousEnfant connexion yellow">CONNEXION</div>
                </div>

                <div class="sousSousEnfant panier red"> PANIER</div>



            </div>
        </div>
    </div>





</div>


<div id="site-content">

    <div class='afficherArticle'>
        <div class='headerArticle'>
            ARTICLES
        </div>
        <div class='corpsArticle'>
            
            <app-article (articleSelected)="majDetailArticle($event)"></app-article>

        </div>
    </div>
    <div class="liner">
        <div class="linerUp"></div>
        <div class="linerDown"></div>
    </div>
    <div class='afficherInfo'>
        <div class='headerInfo'>
            INFORMATIONS
        </div>
        <div class='corpsInfo'>
            
            <app-article-detail [articleDetail] = "articleSelected" ></app-article-detail>
            <app-panier *ngIf="!affichageDeLaBalise"></app-panier>

        </div>
    </div>

</div>
<div id="site-footer">


    <h2>Ci-dessous des liens pour commencer le projet : </h2>

    <div class="icon">
        <a href="https://codepen.io/paganaye/pen/JdqxvX">
            <img src="./assets/img/codePenIcon.png" title="minitel-codepen-exemple" alt="minitel"></a>
        <p>CodePen minitel</p>
    </div>

    <div class="icon">
        <a href="https://gitlab.com/Hinoyama/minitel">
            <img src="./assets/img/hinoyamaGitLabIcon.png" title="minitel" alt="Hinoyama gitlab"></a>
        <p>Gitlab minitel</p>
    </div>

    <div class="icon">
        <a href="https://gitlab.com/Hinoyama/minitel-api">
            <img src="./assets/img/zoltakHinoyamaGitLabIcon.png" title="minitel-api" alt="Hinoyama gitlab"></a>
        <p>Gitlab minitel-api</p>
    </div>

    <div class="icon">
        <a href="https://gitlab.com/zoltak/minitel-angular">
            <img src="./assets/img/zoltakGitLabIcon.png" title="minitel-angular" alt="Zoltak Gitlab"></a>
        <p>Gitlab minitel-angular</p>
    </div>


</div>

  


<app-categorie></app-categorie>
